@import 'tailwindcss';

:root {
    --purple: #9e80ff;
    --green: #b3cd34;
    --primary-color: rgb(30, 30, 30);
    --secondary-color: rgb(236, 236, 234);
    --accent-color: var(--purple);
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

* {
    box-sizing: border-box;
}

button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 500ms ease-in-out;
}

